<!-- In your coursesindex.component.html -->
<!-- In your coursesindex.component.html -->

<h1>Our Courses</h1>
<div id="category">
<button (click)="setCategory('all')">All</button> 
<button (click)="setCategory('prelims')">Prelims</button>
<button (click)="setCategory('mains')">Mains</button>
</div>
<div id="card">
<div class="card-container">
  <div *ngFor="let card of cards">
    <div *ngIf="filterCards(card)" class="card" style="width: 18rem;">
        <img [src]="card.imageUrl" class="card-img-top" alt="{{ card.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.text }}</p>
          <a href="#" class="btn btn-primary">Enroll Now</a>
        </div>
    </div>
  </div>
</div>
</div>

