<footer>
  <div class="footer">
    <div class="row">
      <div class="links" id="links">
        <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/upscprepias?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/@UPSCprepIAS"><i class="fa fa-youtube"></i></a>
        <a href="https://x.com/UPSCprepIAS?s=20"><i class="fa fa-twitter"></i></a>
      </div>
    </div>

    

    <div class="row">
       UPSCprep.com : Project By Edubridge Student - Onkar Salunkhe
    </div>
  </div>
</footer>
