.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-toggle {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .logo{
    margin-left:3% ;
}
#buttonnavbar{
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: white;
}
#loginbutton{
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px;
  border: none;
  outline: none;
  background-color: #42c712;
}
#buttonnavbar:hover{
  background-color: #42c712;
    border-radius: 5px  ;
    color: white;
    transition: 500ms;
}

.navbar{
    background-color: white;
}
.navbarcontent{
    margin-right: 3%;
}
.login li button{
    background-color: #fbae09;
    border-radius: 5px  ;
    color: black;
}
.navbarcontent li button:hover{
    background-color: #42c712;
    border-radius: 5px  ;
    color: white;
    transition: 500ms;
}
