<div class="container-fluid banner">
    <div class="banner-text">
        <h1>We can't clear <span>UPSC</span> for you.</h1>
        <h4>But with our <span>personalised mentor</span> support,</h4>
        <h4>you'll be ready to do it yourself.</h4>
        <br>
        <div class="achievments">
            <div class="firstblock-achievments">
                <p> <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; 100+ Topper in Last 3 Years</p>

                <p><i class="fa fa-star" aria-hidden="true"></i> &nbsp;4.7+ Course ratings</p>
            </div>
            <div class="secondblock-achievments">
                
                <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; 54+  Final selections in 2022</p>
                
                <p><i class="fa fa-users" aria-hidden="true"> </i>
                     &nbsp;50000+ Students mentored</p>
            </div>

        </div>

    </div>
    <div class="bannerphoto">
        <img src="../../assets/banner photo.jpg" height="450" width="auto"  alt="achievments">
    </div>

    
      
</div>
