
<div class="login">

    <div class="photo">

        <img id="loginphoto" src="../../assets/login.jpg" alt="">
    </div>
    
    <div class="logindetails">
        <img src="../../assets/Upscpreplogo.png" alt="Logo" style="height: 40px" />
        <h3>Welcome to UPSCprep</h3>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address or Contact</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your Details with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div id="submit">
            <button  type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          
          
    </div>
    





</div>