
<div class="login">

    <div class="photo">

        <img id="loginphoto" src="../../assets/login.jpg" alt="">
    </div>
    
    <div class="logindetails">
        <img src="../../assets/Upscpreplogo.png" alt="Logo" style="height: 40px" />
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Fullname</label>
                <input type="text" formControlName="fullname" class="form-control" id="fullname">
               
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control" id="email">
              
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Contact Number</label>
                <input type="text" formControlName="contactNumber" class="form-control" id="contactNumber">
               
              </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password">
            </div>
            <div id="submit">
            <button  type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
          
    </div>
    





</div>